<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>de</string>
	<key>CFBundleDisplayName</key>
	<string>FS Client Launcher</string>
	<key>CFBundleExecutable</key>
	<string>FSClientLauncher</string>
	<key>CFBundleIdentifier</key>
	<string>de.frameworksystems.FSClientLauncher</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>FS Client Launcher</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.8.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSSupportsAutomaticTermination</key>
	<false/>
	<key>NSSupportsSuddenTermination</key>
	<false/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>FS Client Launcher</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fsclientlauncher</string>
			</array>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>FS Client Launcher Konfiguration</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fsclient</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Java Web Start (JNLP)</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jnlp</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-java-jnlp-file</string>
			</array>
			<key>LSItemContentTypes</key>
			<array>
				<string>de.frameworksystems.jnlp</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>de.frameworksystems.jnlp</string>
			<key>UTTypeDescription</key>
			<string>Java Web Start JNLP</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
				<string>public.text</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>jnlp</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-java-jnlp-file</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
